apiVersion: v1
kind: Secret
metadata:
  name: postgresql-secret
  namespace: dockify-app
  labels:
    app: postgresql
type: Opaque
stringData:
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: your-strong-password-here
  POSTGRES_DB: dockify
