apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: dockify-app
  labels:
    app: postgresql
  annotations:
    io.cilium/lb-ipam-ips: "shared"
    service.cilium.io/global: "true"
spec:
  type: NodePort
  selector:
    app: postgresql
  ports:
  - name: postgres
    port: 5432
    targetPort: 5432
    nodePort: 30432
    protocol: TCP
  sessionAffinity: ClientIP
  externalTrafficPolicy: Local
