apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: dockify-app
  labels:
    app: redis
  annotations:
    io.cilium/lb-ipam-ips: "shared"
    service.cilium.io/global: "true"
spec:
  type: NodePort
  selector:
    app: redis
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
    nodePort: 30379
    protocol: TCP
  sessionAffinity: ClientIP
  externalTrafficPolicy: Local
